@using MvcPL.Models
@model IEnumerable<UserViewModel>


@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
<style>
    td{padding:4px}
</style>
<table>
    <thead style="background-color:#eee">
        <tr>
            <td>Id</td><td>Login</td><td>RoleId</td><td>UserName</td><td>ban</td>
        </tr>
    </thead>
    <tbody>
    @foreach (UserViewModel user in Model)
    {
        <tr>
            <td>@user.Id</td><td>@user.Login</td><td>@user.RoleId</td><td>@user.UserName</td><td>@user.Ban</td>
            <td>
                @if (user.Ban)
                {
                    <a href="~/Account/Unban/@user.Id">unban</a>
                }else
                {
                    <a href="~/Account/Ban/@user.Id">ban</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
    

